[access]
	inheritFrom = ta
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ta-caas-danm-committers
[project]
	description = packages, configures, and integrates the components of all upstream projects related to the network management service. Components are coming from DANM (https://github.com/nokia/danm ), Flannel (https://github.com/coreos/flannel ), and SR-IOV Device Plugin (https://github.com/intel/sriov-network-device-plugin ) repositories.
